@use '_normalize'
@use '_animate/pulse'
@use '_cards'

html
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace

body
  color: var(--color-text)
  background-color: var(--color-bg)
  margin: auto
  font-size: clamp(12px, 1rem + 2vw, 18px)
  justify-content: space-between
  width: clamp(128px, 90%, 800px)

li
  list-style-type: none

a, button
  color: inherit

header
  text-align: center
  h1
    margin: 1.75em 0
    text-align: center
    color: var(--color-primary)
    font-size: 1.5em
    font-weight: 500

footer
  text-align: center
  filter: contrast(0.4)
  font-size: 0.75em
  margin-top: 3rem

label[for=icon]
  cursor: pointer
  font-size: 1.75em
  aspect-ratio: 1/1
  display: flex
  justify-content: center
  align-items: center
  color: gray
  box-shadow: 0 0 1px var(--color-card-box-shadow)
  background-color: var(--color-card-bg)
  border-radius: 20%
  &:has(> input.visually-hidden:is(:focus, :focus-within))
    outline: thin dashed

.dragging
  filter: blur(1.5px)

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip-path: circle(0)
  white-space: nowrap
  border-width: 0

.visually-hidden
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  clip-path: circle(0.1px)
